//Dimensions
$a: 20px;
$display: 7 * $a;

//Colors
$base: #fff;
$hover: #fafafa;
$on: #4c3;
$visual: #44cc33;

@font-face {
	font-family: "Roboto";
	src: url("fonts/Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-B";
	src: url("fonts/Roboto-Bold.ttf");
}

body {
	font-family: "Roboto";
	background-color: $on;
	transition: .5s;
	z-index: -1;
}

.center {
	position: absolute; 
	top: 0; right: 0;
	bottom: 0; left: 0;
	margin: auto;
}

.display {
	@extend .center;
	height: $display;
	width: $display;
	cursor: pointer;
	border-radius: 50%;
	//background-color: $base;
	text-align: center;
	vertical-align: center;
	line-height: $display;
	font-size: $a * 2.5;
	transition: .5s;
	z-index: 1;
}

.display:hover {
	border-radius: 45%;
}

.cnv {
	position: absolute;
	bottom: 0; top: 0;
	left: 0; right: 0;
	//height: $display * 1.75;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.visualization {
	@extend .cnv;
	filter: url("#goo");
}
